.weather-app {
    position: absolute;
}

.nav {
    z-index: 1;
    margin-top: 25vh;
    margin-left: 10vw;
}

.background {
    margin-top: -3.2vh;
    padding-bottom: 100vh;
    padding-left: 100vw;
    padding-top: 3vh;
    position: absolute;
    z-index: -1;
}


#Rain {
    background-image: url("../images/rain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

#welcome {
    background-color: chartreuse;
}

#Clouds {
    background-color: cadetblue;
}

#Clear {
    background-color: aqua;
}

#Stormy {
    background-color: yellow;
}

#Hazy {
    background-color: coral;
}

#Sunny {
    background-color: darkgoldenrod;
}

