.weather-app {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.nav {
    margin-left: 0vw;
    height: 66vh;
    width: 84vw;
    z-index: 1;
    align-self: center;
    color: white;
}
