.background-gif {
    position: relative;
    margin-bottom: -75vh;
    z-index: 1;
    background-size: 100%;
}

#Rain {
    background-image: url("../images/rain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(5px);
    width: 103vw;
    height: 105vh;
}

#Clouds {
    background-image: url("../images/clouds.gif");
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
    width: 103vw;
    height: 105vh;
}

#Snow {
    background-image: url("../images/snow.gif");
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
    width: 103vw;
    height: 105vh;
}

#Clear {
    background-image: url("../images/sunny.gif");
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
    width: 103vw;
    height: 105vh;
}

#welcome {
    background-image: url("../images/sunny.gif");
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
    width: 103vw;
    height: 105vh;
}