@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  margin: 0;
  background-color: #eceef1;
  font-family: 'Gochi Hand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
